/* Landing page index page */

body {
    font-family:"roboto",serif;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
}

/* Small nits START */
h1,
p,
ul {
    padding:0;
    margin:0;
}

ul {
    list-style-type:none;
    display:flex;
    gap:16px;
}


a{
text-decoration:none;
}

h1 {
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
    line-height:normal;
}

.para {
    font-size:12px;
}
/* Small nits END */



.header,
.hero,
.information-section,
.testimonial-section,
.calltoaction-section,
.footer {
    padding: 0 64px;
}

.hero,
.footer,
.header {
    background-color:#1F2937;
}



.header,
.footer {
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#F9FAF8;
    padding-top: 16px;
    padding-bottom:16px; 
}


/* Hero section START */
.hero {
    display:flex;
    padding:64px;
    gap:64px;
}

.left-content {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:700px;
    gap:8px;
}

.button-primary {
    background-color:#3882F6;
    color:#F9FAF8;
    padding: 6px 24px;
    border-radius:6px;
    border-style:none;
    box-sizing:border-box;
    flex-shrink:0;
}

.right-content {
    background-color:#E5E7EB;
    color:black;
    width:700px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* Hero section END */

/* Information section START */
.information-section {
    text-align:center;
    padding-top:32px;
    padding-bottom:64px;
}

.grid {
    display:flex;
    justify-content:center;
    gap:32px;
    flex-wrap:wrap;
}

.card {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
}

.box {
    height:150px;
    width:150px;
    border-style:solid;
    border-color:#3882F6;
    border-width:4px;
    border-radius:16px;
}

.text {
    max-width:150px;
}

/* Information section END */

/* Testimonial section START */
.testimonial-section {
    background-color:#E5E7EB;
    padding-top:32px;
    padding-bottom:32px;
}

.modal {
    padding: 32px 96px;
    /* border-style:solid; */
    border-radius:8px;

}

.quote {
    font-size:24px;
    font-style:italic;
    color:#1F2937;
    padding-bottom:8px;
}

.quote-name {
    font-weight:700;
    text-align:end;
    /* border-style:solid; */
}

/* Tesitmonial section END */

/* Calltoaction section START */
.calltoaction-section {
    padding-top:64px;
    padding-bottom:64px;
    color:#F9FAF8;

}

.calltoaction-section .modal {
    background-color:#3882F6;
    display:flex;
    justify-content:space-between;
    margin:auto;

}

.calltoaction-section button {
    /* background-color:#3882F6; */
    /* color:#F9FAF8; */
    /* padding: 6px 24px; */
    /* border-radius:6px; */
    border-width:2px;
    border-color:#F9FAF8;
}

.button-secondary {
    background-color:#3882F6;
    color:#F9FAF8;
    padding: 6px 24px;
    border-radius:6px;
    border-style:solid;
    border-color:#F9FAF8;
    flex-shrink:0;
}

/* Calltoaction section END */

.footer {
    display:flex;
    justify-content:center;
    font-size:12px;
}